workflow:
  rules:
    # here the order matter!
    # does not run with changes in .md files
    - if: '$CI_COMMIT_BRANCH && $CI_COMMIT_BEFORE_SHA !~ /0{40}/'
      changes:
        - "{*[^.]md*,*.[^m]*,*.m,*.m[^d]*,*.md?*,*[^d]}"
      when: never
    # does not run when creating tags
    - if: $CI_COMMIT_TAG
      when: never
    # does not run if branches start with test_
    - if: $CI_COMMIT_BRANCH =~ /test_/
      when: never
    # it runs with any branch
    - if: $CI_COMMIT_BRANCH

stages:          
  - reana
  - build
  - skimmer-test
  - analysis-test
  - plot
  - cutflow

voms_proxy:
  stage: build
  image: gitlab-registry.cern.ch/cms-cloud/cmssw-docker/cc7-cms 
  artifacts:
    paths:
      - proxy
  script:
    - mkdir -p ${HOME}/.globus
    - printf "${GRID_USERCERT}" | base64 -d > ${HOME}/.globus/usercert.pem
    - printf "${GRID_USERKEY}" | base64 -d > ${HOME}/.globus/userkey.pem
    - chmod 400 ${HOME}/.globus/userkey.pem
    - printf "${GRID_PASSWORD}" | base64 -d | voms-proxy-init --voms cms --pwstdin
    - voms-proxy-info --all
    - export VOMSPROXY=$(voms-proxy-info -path)
    - mkdir proxy
    - cp ${VOMSPROXY} proxy/x509_proxy


#### from https://gitlab.cern.ch/gitlabci-examples/build_docker_image/-/blob/master/.gitlab-ci.yml?ref_type=heads
build_kaniko_command:
    stage: build
    variables:
      # To push to a specific docker tag other than latest(the default), amend the --destination parameter, e.g. --destination $CI_REGISTRY_IMAGE:$CI_BUILD_REF_NAME
      # See https://docs.gitlab.com/ee/ci/variables/predefined_variables.html#variables-reference for available variables
      IMAGE_DESTINATION_LATEST: ${CI_REGISTRY_IMAGE}:latest
      IMAGE_DESTINATION: ${CI_REGISTRY_IMAGE}:$CI_COMMIT_SHORT_SHA
    image: 
        # The kaniko debug image is recommended because it has a shell, and a shell is required for an image to be used with GitLab CI/CD.
        name: gcr.io/kaniko-project/executor:debug
        entrypoint: [""]
    script:
        # Prepare Kaniko configuration file
        - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
        # Build and push the image from the Dockerfile at the root of the project.
        - /kaniko/executor --context $CI_PROJECT_DIR --dockerfile $CI_PROJECT_DIR/.dockerfiles/Dockerfile_analysis --destination $IMAGE_DESTINATION --destination $IMAGE_DESTINATION_LATEST
        # Print the full registry path of the pushed image
        - echo "Image pushed successfully to ${IMAGE_DESTINATION}"
    rules:
      - if: $CI_COMMIT_BRANCH =~ /^container.*/ 
      - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "master" && $CI_MERGE_REQUEST_SOURCE_BRANCH_NAME =~ /^container.*/'

analysis-test-job:   
  stage: analysis-test   
  needs:
    - voms_proxy
  image: gitlab-registry.cern.ch/cms-cmu/coffea4bees:latest
  tags:
    - k8s-cvmfs
  script:
    - source .ci-workflows/analysis-test-job.sh
  artifacts: 
    expire_in: 1 day
    paths:
      - python/analysis/hists/test.coffea


skimmer-test-job:   
  stage: skimmer-test   
  needs:
    - voms_proxy
  image: gitlab-registry.cern.ch/cms-cmu/coffea4bees:latest
  tags:
    - k8s-cvmfs
  script:
    - source .ci-workflows/skimmer-test-job.sh
  artifacts: 
    expire_in: 1 day
    paths:
      - python/skimmer/metadata/picoaod_datasets_TTToSemiLeptonic_UL18.yml
      - python/skimmer/TTToSemiLeptonic_UL18/picoAOD.root

skimmer-analysis-test-job:   
  stage: analysis-test   
  needs: 
    - voms_proxy
    - skimmer-test-job
  image: gitlab-registry.cern.ch/cms-cmu/coffea4bees:latest
  tags:
    - k8s-cvmfs
  script:
    - source .ci-workflows/skimmer-analysis-test-job.sh
  artifacts: 
    expire_in: 1 day
    paths:
      - python/analysis/hists/test_skimmer.coffea


analysis-plot-job:    
  stage: plot 
  needs: 
    - analysis-test-job
  image: gitlab-registry.cern.ch/cms-cmu/coffea4bees:latest
  tags:
    - k8s-cvmfs
  script:
    - source .ci-workflows/analysis-plot-job.sh
  artifacts:
    expire_in: 1 day
    paths:
      - python/analysis/testCoffeaPlots/RunII/

analysis-cutflow-job:    
  stage: cutflow
  needs: 
    - analysis-test-job
  image: gitlab-registry.cern.ch/cms-cmu/coffea4bees:latest
  tags:
    - k8s-cvmfs
  script:
    - source .ci-workflows/analysis-cutflow-job.sh

analysis-makeweights-job:    
  stage: plot
  needs: 
    - analysis-test-job
  image: gitlab-registry.cern.ch/cms-cmu/coffea4bees:latest
  tags:
    - k8s-cvmfs
  script:
    - source .ci-workflows/analysis-makeweights-job.sh


skimmer-analysis-cutflow-job:    
  stage: cutflow
  needs: 
    - skimmer-analysis-test-job
  image: gitlab-registry.cern.ch/cms-cmu/coffea4bees:latest
  tags:
    - k8s-cvmfs
  script:
    - source .ci-workflows/skimmer-analysis-cutflow-job.sh

analysis-iplot-job:    
  stage: plot 
  needs: 
    - analysis-test-job
  image: gitlab-registry.cern.ch/cms-cmu/coffea4bees:latest
  tags:
    - k8s-cvmfs
  script:
    - source .ci-workflows/analysis-iplot-job.sh


baseclass-test-job:   
  stage: plot
  image: gitlab-registry.cern.ch/cms-cmu/coffea4bees:latest
  tags:
    - k8s-cvmfs
  script:
    - source .ci-workflows/baseclass-test-job.sh

reana-job:
  stage: reana
  image: gitlab-registry.cern.ch/cms-cloud/cmssw-docker/cc7-cms 
  tags:
    - k8s-cvmfs
  before_script:
    - wget -q https://github.com/reanahub/reana-client/releases/download/0.9.3/reana-client-0.9.3-x86_64.AppImage
    - chmod u+x ./reana-client-0.9.3-x86_64.AppImage
    - mkdir -p $HOME/.local/bin/
    - mv ./reana-client-0.9.3-x86_64.AppImage $HOME/.local/bin/reana-client-0.9.3
    - export REANA_SERVER_URL=https://reana.cern.ch 
    - export REANA_ACCESS_TOKEN="${REANA_TOKEN}"
    - reana-client-0.9.3 ping
  script:
    - reana-client-0.9.3 run -f reana.yaml -w coffea4bees
  allow_failure: true
